package api

import (
    "strconv"
    "github.com/dfalgout/gofiber/dal"
)

templ TodosList(todos []dal.Todo) {
    <ul>
    for _, todo := range todos {
        <li>{todo.Name} - complete: {strconv.FormatBool(todo.Complete.Bool)}</li>
    }
    </ul>
}

templ TodoSingle(todo dal.Todo) {
    <li>{todo.Name} - complete: {strconv.FormatBool(todo.Complete.Bool)}</li>
}