package api

import (
    "strconv"
	"github.com/dfalgout/gofiber/ent"
)

templ TodosList(todos []*ent.Todo) {
	<ul id="todos">
		for _, todo := range todos {
			<li>{ todo.Name } - completed { strconv.FormatBool(*todo.Completed) }!</li>
		}
	</ul>
}

templ TodoSingle(todo *ent.Todo) {
	<li>{ todo.Name }- completed { strconv.FormatBool(*todo.Completed) }!</li>
}
